.container-airbnb {
    width: 100%;
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: auto;
    padding-right: auto;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 10px;
    height: 100px;
    text-align: center;
    font-size: 18px;
    background: #444;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 30px;
    height: 30px;
    object-fit: cover;
}